[Desktop Entry]
Name=South Wood
X-KDE-PluginInfo-Name=South Wood
X-KDE-PluginInfo-Author=Tongtong Yang
X-KDE-PluginInfo-Email=yangamy519@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA
