[Desktop Entry]
Name=Old House
X-KDE-PluginInfo-Name=Old House
X-KDE-PluginInfo-Author=Leway Colin
X-KDE-PluginInfo-Email=colin4124@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA
