[Desktop Entry]
Name=Parental Love
X-KDE-PluginInfo-Name=Parental Love
X-KDE-PluginInfo-Author=Leway Colin
X-KDE-PluginInfo-Email=colin4124@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA
